.list_item {
    display: grid;
    grid-template-columns: 4fr 1fr;
    border: 1px solid grey;
    background-color: white;
    margin-bottom: 10px;
}

.list_item_label {
    font-size: 18px;    
    margin: 5px 0px 5px 0px;
    line-height: 30px;
    padding-left: 15px ;
    cursor: pointer;
}

.wraper_fa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    gap: 10px;
}

.wraper_fa i {
    font-size: 20px;
}

.btn_star  {
    color: gold;
}

.btn_trash {
    color: red;
    
}

.heart{
    align-self: center;
    justify-self: center;
    color: red;
    transition: 0.3s all;
    transform: translateX(30px);
    opacity: 0;
}

.list_item.important .list_item_label {
    color: gold;
}
  
.list_item.important .btn_star {
    color: grey;
}

.list_item.like .heart {
    opacity: 1;
    transform: translateX(0px);
}
